header {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;

}

button[type="submit"],
button[type="button"] {
    width: 100%;
    background-color: #af4c65;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    color: #af4c65;
    font-style: italic;
    font-size: 45px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

fieldset {
    padding: 10px;
    border: none;
    border-radius: 4px;

}

header {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

legend {
    color: black;
    font-style: oblique;
    font-size: 20px;

}
body {
    background-color: #d8d5d5;
}